 body {background-color:rgb(241, 215, 169)}
 h1{color: rgb(10, 18, 122)}
 th,td{border:dashed thick black;}
 th.important{color:red;}
 p.sample1{border:inset 10px #fbff00;}
 p.sample2{border:inset 10px #ff00bf;}